name: Test

on:
  push:
  pull_request:
  schedule:
    - cron: '0 18 * * 4'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pdm install -d
    - name: Lint with ruff
      run: |
        pdm run ruff check --extend-select=D403 .
    - name: Test with pytest
      run: |
        pdm run pytest -v